:root {
    --color-green: rgb(90, 161, 90);
    --color-red: rgba(221, 48, 65, 0.833);
    --color-vowel: lightslategray;
    --color-black: darkslategray;
    --color-yellow: rgba(230, 180, 17, 0.8);
}

.keyboard-container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f8f8f8;
    color: black;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.virtual-keyboard {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 750px;
    margin-bottom: 5px;
    justify-content: center;
    padding-bottom: 20px;
}

.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    margin-right: 1px;
    color: black;
    background-color: white;
    align-self: center;
}

.box.green {
    background-color: var(--color-green);
    color: white;
}

.box.yellow {
    background-color: var(--color-yellow);
    color: white;
}

.box.red {
    background-color: var(--color-red);
    color: white;
}

.box.black {
    background-color: var(--color-black);
    color: white;
}

.box.vowel {
    background-color: var(--color-vowel);
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.dialog-box {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #333;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 5px;
}

.win-dialog-box {
    display: flex;
    /* add flexbox */
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    position: relative;
    border: 2px solid #333;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-radius: 5px;
    min-height: 100px;
    min-width: 250px;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 1.0rem;
    background: none;
    border: none;
    cursor: pointer;
}

.key-green {
    background-color: var(--color-green) !important;
    color: white !important;
}


.key-yellow {
    background-color: var(--color-yellow) !important;
    color: white !important;
}

.key-red {
    background-color: var(--color-red) !important;
    color: white !important;
}

.key-vowel {
    background-color: var(--color-vowel) !important;
    color: white !important;
}

.key-none {
    background-color: white !important;
    color: black !important;
}